/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: ghostwhite;
}

.spacer {
  flex: 1 1 auto;
}

.tableToolbar {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.tableToolbar > * {
  margin:0 !important;
}