table {
    width: 100%;
}

#createButton, table {
    margin-top: 20px;
}

mat-divider{
    height: 20px;
    display: inline-block;
    margin: 0 10px;
}

.mat-column-owner {
    width: 170px
}

.searchBar {
    flex: 1 1 auto;
}

::ng-deep .searchBar > div {
    width: 100%;
    padding: 0 15px !important;
    box-sizing: border-box;
}