<form [formGroup]="eventForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Create Event</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Car</mat-label>
            <mat-select formControlName="car">
              <mat-option *ngFor="let car of carOptions" [value]="car.value">
                {{car.text}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="eventForm.get('car')?.hasError('required')">
              Car is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput readonly [value]="firstName">
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput readonly [value]="lastName">
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="6"
              cdkAutosizeMaxRows="6" formControlName="description"></textarea>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="date" formControlName="date">
            <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
            <mat-datepicker #date></mat-datepicker>
            <mat-error *ngIf="eventForm.get('date')?.hasError('required')">
              Date is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <ng-container *ngIf="isAddMode">
            <mat-form-field style="width: calc(100% - 60px); margin-right: 20px;" appearance="outline">
              <mat-label>Files</mat-label>
              <input matInput disabled [value]="fileNames.join(', ')">
            </mat-form-field>
            <input multiple type="file" (change)="uploadFiles($event)" #fileInput hidden />
            <button mat-mini-fab type="button" color="primary" (click)="fileInput.click()">
              <mat-icon> local_see </mat-icon>
            </button>
          </ng-container>
        </div>
        
      </div>


    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="this.eventForm.invalid">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>

<carousel [cellsToShow]="1" [height]="350">
  <ng-container *ngFor="let img of addedImages">
    <div class="carousel-cell">
      <img [src]="img.path" alt="">
    </div>
  </ng-container>
</carousel>